@import "tailwindcss";
@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(10px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@layer components {
    .slide-in {
        animation: slide-in 0.5s ease-out;
    }
}